# Django / Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
.installed.cfg
*.egg

# Database
db.sqlite3
db.sqlite3-journal

# Project ETL Data
*.csv
!test_students.csv  # Keep test file if you want others to see it
test_out.txt

# Editors
.idea/
.vscode/
*.swp
.DS_Store

# Static
static/
media/
